@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

body {
    @apply antialiased bg-[#ddecee] transition-all;
}

img {
  @apply select-none;
}

textarea, input {
  @apply !ring-0 border-gray-300 !outline-none;
}